

a.btn-ghost {
    background: none !important;
    border: 1px solid #ff0a12 !important;
    color: #ff0a12 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    letter-spacing: 0 !important;
}
a.btn-ghost:hover {
    background: #ff0a12 !important;
    border: 1px solid #ff0a12 !important;
    color: #fff !important;
}

#AdSense1 {
    text-align: center;
}

.AdSense1 {
    text-align: center;
}

a.AdSense1 {
    text-align: center;
}

#AdSense {
    text-align: center;
}

.AdSense {
    text-align: center;
}

a.AdSense {
    text-align: center;
}


#related-posts {
    text-align: center;
}

.related-posts {
    text-align: center;
}

a.related-posts {
    text-align: center;
}

