    /**Song Widgets */
    .gmb-music-widget {
      display: block;
      background: none repeat scroll 0 0 #050505;
      border: 1px solid #ccc;
      padding: 15px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .gmb-music-widget::before {
      content: "";
      display: block;
      height: 14px;
      width: 100px;
      background: url() no-repeat;
      background-size: contain;
      background-position: right;
      position: absolute;
      right: 10px;
      top: 8px;
    }

    .gmb-music-widget .artwork {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      top: 10px;
      line-height: 0;
      margin-right: 5px;
      margin-bottom: 15px;
      width: 75px;
      height: 100px;
    }

    .gmb-music-widget .artwork img {
      display: none;
    }

    .gmb-music-widget .details {
      display: block;
      line-height: 20px;
      overflow: hidden;
      margin-bottom: 10px;
      color: #fff;
      padding-top: 25px;
      padding-left: 10px;
    }

    .gmb-music-widget .details .song {
      font-family: "Helvetica Neue", helvetica, arial, sans-serif;
      display: block;
      font-weight: 800;
      font-size: 17px;
      margin-bottom: 10px;
    }

    .gmb-music-widget .details .artist {
      font-size: 14px;
      font-weight: normal;
    }

    .gmb-music-widget .player-wrapper {
      display: block;
    }

    .gmb-music-widget .player-wrapper br {
      display: none;
    }

    .gmb-music-widget .mejs-container {
      margin: 0 !important;
    }

    .download-btn-wrapper {
      display: block;
      text-align: center;
    }


    @media (min-width: 992px) {
      .gmb-music-widget .artwork {
        margin-bottom: 0;
        height: 130px;
        width: 25%;
      }

      .gmb-music-widget .details {
        padding-top: 15px;
      }

      /* .njl-music-widget .mejs-container  */
      .gmb-music-widget .player-wrapper {
        width: 72% !important;
        float: right;
        margin-top: 0px !important;
      }

      .gmb-music-widget::after {
        content: "";
        display: block;
        clear: both;
      }
    }





a.btn-ghost {
    background: none !important;
    border: 1px solid #ff0a12 !important;
    color: #ff0a12 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    letter-spacing: 0 !important;
}
a.btn-ghost:hover {
    background: #ff0a12 !important;
    border: 1px solid #ff0a12 !important;
    color: #fff !important;
}

a.btn-ghostt {
    background: #ff0a12  !important;
    border: 1px solid #ff0a12  !important;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    letter-spacing: 0 !important;
}

a.btn-ghostt:hover {
    background: none !important;
    border: 1px solid #ff0a12  !important;
    color: #ff0a12  !important;
}

#AdSense1 {
    text-align: center;
}

hr.line-break {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.facebookholder {
position:relative;
float:left;
width:250px;
height:70px;
background:#f8f8f8;
border-radius:6px;
border:1px solid #e2e2e2;
margin-bottom:20px;
}

.mySlides {display:none;}

.popup img{
    width: 193px;
    height: 260px;
    cursor: pointer;
}
.show{
    z-index: 999;
    display: none;

.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 300px;
    height: 350px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 20px;
    left: 30px;
 
}


    
    
/*-- Download Counter by Bloganalyzer -- */
.counterCont {
  margin: 5px auto;
  margin-top: 60px;
  width: 150px;
  position: relative;
  text-align: center;
}
.counterCont a  {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  padding: 10px 0;
  background: #3498db;
  text-shadow: 0 1px 1px #555;
  box-shadow: inset 0 -1px 5px rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 3px solid #2980b9;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.counterCont span {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  background: #efefef;
  color: #555;
  text-shadow: 0 1px 1px #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.counterCont span:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  border-top: 7px solid #efefef;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-left: -7px;
  margin-top: -1px;
  height: 0;
  width: 0;
}
