

a.btn-ghost {
    background: none !important;
    border: 1px solid #ff0a12 !important;
    color: #ff0a12 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    letter-spacing: 0 !important;
}
a.btn-ghost:hover {
    background: #ff0a12 !important;
    border: 1px solid #ff0a12 !important;
    color: #fff !important;
}

#AdSense1 {
    text-align: center;
}

hr.line-break {
    border: 0;
    height: 0.5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



