-----------------------------------------------
*
*
*
* 
*
----------------------------------------------- */

/* Reset and Generals
---------------------------------------------- */
/*********************************************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    font-size: 1.5em;
    margin: .83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: .83em;
    margin: 1.67em 0;
}
h6 {
    font-size: .75em;
    margin: 2.33em 0;
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 1em 0;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em; 
}
sub {
    bottom: -0.25em;
}
dl,
menu,
ol,
ul {
    margin: 1em 0;
}
dd {
    margin: 0 0 0 40px;
}
menu,
ol,
ul {
    padding: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0 ;
}
.clearfix:after {
    clear: both;
}

a img {
	border: 0;
}
a img:hover {
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
embed, iframe, object {
	max-width: 100%;
}

.section {
margin: 0;
padding: 0;
}

.widget {
    margin: 20px 0;
    _margin: 0 0 10px;

} 


.queryEmpty {
    float: left;
    width: 130%;
    font-size: 30px;
    color: #ff4e50;
    font-weight: 400;
    text-align: center;
    margin: 110px 0;	
	
}

.serachformonsearch { 
	text-align: center;
	margin: 50px 0;
        margin-left: 230px;
}

.serachformonsearchtext { 
	text-align: center;
	font-size: 25px;
	margin-left: 219px;
}

.searchhomebutton { 
	
  background-color: #333;
  color: #fff;
  width:128px;
  height: 52px;
  font-weight: bold;
  padding: 8px 22px 20px;
  margin-left: 35%;
  margin-top: 50px; 
	
}

/* Struture
----------------------------------------------- */



body {
color: #333;
font: 16px/1rem 'Roboto', sans-serif;
line-height: 20px;
word-wrap: break-word;
font-weight: 300;
text-rendering: optimizeLegibility;
}
 body {
background-color:#fff;

}

#outer-wrapper {
background-color: #fff;

}

.post-navigation { display: none !important;
}

@media screen and (max-width: 640px) {
html,
body {background-color: #f5f5f5;}
#outer-wrapper {margin: 0px auto; padding: 1%;}
}

#content-wrapper {
max-width: 1067px;
margin: 10px auto;
position: relative;
overflow: hidden;
!important;

}

#main-wrapper {

  float: left;
  width: 69%;
  word-wrap: break-word;
  oerflow: hidden;
}

#sidebar-wrapper {
  float: right;
  width: 31%;
  word-wrap: break-word;
  overflow: hidden; 
}


#top-barnbt {

width: 20%;

}



#crosscol-wrapper {
	
max-width: 1067px;
margin: 10px auto;
position: relative;
overflow: hidden;
!important;
	
}


/* Typography
----------------------------------------------- */

a:link,
a:visited {
  color: #ff4e50;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #ff4e50;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

a img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

img {
    max-width: 100%;
    width: auto\9;
height: auto;
}

.navbar,
#navbar-iframe {
  height: 0;
  visibility: hidden;
  display: none !important; 
}

/* Header
----------------------------------------------- */

#header-wrapper {
margin: 10px auto;
overflow:hidden;
padding: 0px 0px;
min-height: 0px;
}

#header-inner {
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*---Header-top MENU / SOCIAL--------------*/

#header-top {
  background: #333;
	border-top: 3px solid #ff4e50;
 	height: 45px;
	color: #fff;
	overflow:hidden;
position:relative;
	margin: 0 auto;
	padding: 15px 3%;
width: 100%;
}

#top-navigation {
    width: 50%;
    position: relative;
	float: left;
	margin: 0 auto;
	padding:0;
}

#top-navigation li a {
   font-size: 75%;
   text-transform: uppercase;
   
   padding:0 0.200rem;
   color:#999;
   font-weight:100;
}
#top-navigation li a:hover {
   color: #ff4e50;
   }

#top-navigation li {
    display:inline;
}

/* Social Media Top Icons
----------------------------------------------- */
#socialmedia a .fa {
background: #fff;
color: #333;
display: inline-block;
font-size: 13px;
width: 21px;
height: 21px;
line-height: 21px;
text-align: center;
padding:0;

}
#socialmedia .fa:hover {
color: #fff;
background-color: #ff4e50;
}

#socialmedia > a > i {
display:inline;
}

#socialmedia {
float:right;
position: relative;
	width: 50%;
    text-align: right;

}



@media screen and (max-width: 800px){
#socialmedia,
#top-navigation {width:auto;float:none;text-align:center; display: none !important;}
}


.nivoSlider {
position:relative;
width:100%;
height:auto;
height: 20px;
overflow: hidden;
}


.top-container {
    margin: 0 auto;
    max-width: 1140px;

}

.header-container {
margin:0 auto;
max-width: 1068px;
}

.btd-container {
margin:0 auto;
max-width: 1068px;
}

.headerleft {
background: #fff;
float: left;
width: 30%;
margin: 0 auto;
position: relative;
  display: inline-block;

}

#header {
margin: 0 auto;
padding: 0;
text-align: ;
}

#header h1, #header h2 {
  color: #171717;
  margin: 0 auto 10px;
  padding:0;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: -0.02em;
  font: 700 250% Roboto, sans-serif;
}

#header h1 a, #header h2 a {
  color: #171717;
  text-decoration: none;
}

#header a:hover {
  color: #d35400;
}

#header .description {
  margin: 0 auto 5px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: .0em;
  line-height: 1.4em;
  font-size: 0.757rem;
  color: #171717;
}

#header img {
  margin-left: auto;
  margin-right: auto;
}


#adsense {
 float: right;
margin: 0 auto;
max-height: 90px;
    max-width: 728px;
overflow: hidden;
}

.banner728 {
    position: relative;
 }
 
#adsense h2 {
  display: none !important; 
}


#top-barnbt {
 font-size: 10px;
}

@media screen and (max-width: 999px) {

.headerleft {
    float: none;
    width: 100%;

display: none !important;
}
.headerright {
float: center;
width: 100%;
}
	

#footer-wrapper { display: none !important; 
}	

.crosscol {
margin-bottom :10px;
float: center;
width: 100%;
display: none !important;

}




}


#top-barnbt {
	font-size: 10px;
}



/* -------------PRIMARY NAV MENU--------------- */

.toggleMenu {
    display: none;
    background: #ff4e50;
    padding: 0 15px;
	height: 48px;
	line-height: 48px;
    color: #fff !important;
}

#nav-bar {
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500;
	background: #333;
	height: 29px;
	line-height: 48px;
	text-transform:uppercase;
	padding: 1px 1.5%;
}
ul.nav-menu {
	background: #333;
    list-style: none;
	margin: 0;
	padding:0;
     *zoom: 1;
	float: left;  
}
ul.nav-menu:before,
ul.nav-menu:after {
    content: " "; 
    display: table; 
}
ul.nav-menu:after {
    clear: both;
}
ul.nav-menu ul {
    list-style: none;
	margin:0;
	padding:0;
    width: 10em;
}
ul.nav-menu li {
    position: relative;
	margin: 0 0;
}
ul.nav-menu > li {
    float: left;
}
ul.nav-menu > li > .parent { }
ul.nav-menu li ul {
    position: absolute;
    left: -9999px;
}
ul.nav-menu > li.hover > ul {
    left: 0;
}
ul.nav-menu li li.hover ul {
    left: 100%;
    top: 0;
}
ul.nav-menu a.active {
	background: #ff4e50;
}
ul.nav-menu li a {
	display: block;
    padding: 0 20px;
    color: #fff;
	height: 45px;
	line-height: 45px;
}
ul.nav-menu li li a {
    display: block;
    background: #fff;
	color: #222;
    position: relative;
    z-index: 100;
	height: 40px;
	line-height: 40px;
	font-size: 0.85em;
}
ul.nav-menu li li li a {
    background: #fff;
    z-index: 200;
}
ul.nav-menu a:hover, ul.nav-menu a.active:hover {
	background: #ff4e50;
}

#search-form {
	background: #333;
	float: right;
	margin: 0;
	position: relative;
height: 48px;
border-bottom: 3px solid #ff4e50;
}
#search-form input#search-box[type="text"] {
	background: #222;
	font-size: 0.85em;
	height: 35px;
	line-height: 32px;
	width: 188.5px;
	margin: 0;
	padding: 0 10px;
	color: #777;
	border: none;
	text-transform: auto;
}

@media screen and (max-width: 1591px) {
	
	width: 189px;
	
}
	
#search-form input#search-button[type="submit"] {
	background: #333;
	color: #fff;
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-right: -1px;
	padding: 0;
	border: none;
	text-transform: auto;
}

#search-form input#search-button[type="submit"]:hover{
	background: #000;
}
#search-form input#search-box[type="text"]:focus {
	background: #eee;
	outline: none;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
	ul.nav-menu a.active {
		background: transparent;
	}
	#search-form {
		width: 100%;
		margin: 0 0 0 0 !important;
	}
    ul.nav-menu > li {
        float: none;
    }
    ul.nav-menu > li > .parent {
        background-position: 95% 50%;
    }

	ul.nav-menu {
		float: none;
		width: 100%;
	}
    ul.nav-menu ul {
        display: block;
        width: 100%;
		float: none;
    }
	ul.nav-menu > li.hover > ul , ul.nav-menu li li.hover ul {
        position: static;
    }
	#search-form {
		background: #666;
	}

}

#top-barnbt {

	font-size: 10px;
}

/* Posts
----------------------------------------------- */
.date-header {
  margin: 1.5em 0 .5em;
  display: none !important;
}

/********
----------------------------------------------- */




.\ > div {
  position: relative;
}

.index-post {
float: left;
margin: 0.0 px;
overflow: hidden;
padding: 25px;
position: relative;
width: 49%;
height: 290px;
}

.index-post .index-title {
  font-size: 130%;
  font-weight: 600;
  margin: 0 0 0 0;
padding: 0 px;
line-height: 1.1em;

}


.index-post a {
font-weight: 700;
  color:#171717;
  }

.index-post a:hover {
  color: #ff4e50;
  }


.index-post .index-title h2 {
  
  color:#171717;
  text-align: left;

}

.index-post .index-thumbnail {
  overflow:hidden;position:relative;height:auto;margin:0 auto 5px auto;padding:0;z-index:1;
}

.index-post .entry-content { margin:10px auto 0;padding:0 0 80px;border-bottom: 1px solid #eee;font-size:85%; }
.index-post .index-thumbnail img {
width: 100% !important;
height: auto !important;
transform:scale(1.0);backface-visibility:hidden;padding:0;margin:0;transition:transform .6s;
}



.index-post .index-contents {
  font-size: 100%;
  min-height: 0px;
  text-align: left;
  margin: 0px; 
}




.index-contents {
  font-size: 95%;
  color: #171717;
  min-height: 25px;
  text-align: left;
}


.index-post-header {
  padding: 0;
  font-size: 12px; 
display: none !important;
}

.index-post-header > * {
  margin-right: 1em;
display: none !important;
}

.index-post .post-timestamp {
  margin-left: 0px;
  display: none !important; 
}

.post {
	margin:  10px;
	text-align: left;
	 
}

h1.post-title, h2.post-title {
  margin: .25em 0 0;
  padding: 10px 0 25px;
  font-size: 300%;
  font-weight: 0;
  line-height: 1.1em;

}

h1.post-title a, h2.post-title a, h1.post-title a:visited, h2.post-title a:visited, h1.post-title strong, h2.post-title strong {
  display: block;
  text-decoration: none;

}

h1.post-title strong, h1.post-title a:hover, h2.post-title strong, h2.post-title a:hover {
  color: #777;
}

.post-header {
    font-size: 14px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 24px;
    min-height: 17px;

}

.post-body {
  margin: 0px;
  line-height: 1.6em;

}

.post-body blockquote {
  line-height: 1.3em;


}

.post-footer {
  margin: 20px auto;
  padding: 5px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: .0em;
  font-size: 12px;
  line-height: 1.4em;
  display: none !important;
}

.comment-link {
  margin-left: .6em;
}
.post-body img, table.tr-caption-container, .tr-caption-container img {
  max-width: 100%;
  height:auto;
  border: auto;
  padding: 0;
}

.post-body blockquote {
  background: #f9f9f9;
  font-size: 1.3em;
  font-style:italic;
  border-left: 8px solid #ccc;
  border-right: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

}

.post-body blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;  
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;


}

.post-body  blockquote:after {
    content: close-quote; /* could be content:close-quote; */
	color: #ccc;
	font-size: 4em;  
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
	}

.post-body blockquote p {
  display: inline;
  margin: .75em 0;

}

.more-music
{
    
    font-family: "Roboto", Arial, sans-serif;
    text-align: left;
	padding: 0 15px;
    text-transform: uppercase;
	color: #888888;
    margin-bottom: 5px;
    font-size: 14px;
	font-width: 500;
    border-bottom: 1px solid #D0D0D0;
    
}

@media (max-width: 991px) { 
	
	.more-music {
	background: #343434;
    color: #fff;
    text-align: center;
    padding: 4px 100px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: 3px solid #D8D8D8; }
}


/* Hiding Header Date and Feed Links
----------------------------------------------- */

.date-header,span.blog-admin{display:none;}
div.status-msg-body > b {
display: block!important;
}
div.status-msg-bg, div.status-msg-wrap {
}
.status-msg-wrap {
font-size: 150%;
width: 100%;
margin-bottom:30px;
position: relative;
}
.status-msg-border {
border: 0px solid #000;
}
.status-msg-bg {
background-color: #ccc;
margin: 0px;
padding: 10px 10px;
}
.status-msg-hidden {
visibility: hidden;
padding: 0;
}
.status-msg-body {
text-align: left;
padding: 10px 20px;
width: 100%;
position: absolute;
z-index: 4;
}




/* Code Styling
----------------------------------------------- */
code {
    position: relative;
    top: -1px;
    border: auto;
    background-color: #F1F1F1;
    padding: 2px 6px;
}

pre {
    background-color: #f1f1f1;
    padding: 4px 10px 4px 10px;
    border: none;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
    margin-top: 24px;
}

.full-width .content, body.error404 .content {
width : 100%;
float : center;
}





Popular Post
.................................

.sidebar .PopularPosts ul {
margin: 0;
padding: 0;
}
.sidebar .PopularPosts ul li {
list-style: none !important;
padding: 0 !important;
margin-bottom: 10px;
}
.sidebar .PopularPosts .item-thumbnail {
height: 190px;
margin: 0;
overflow: hidden;
width: 100%;
position: relative;
}
.sidebar .PopularPosts .item-title {
display:block;
clear:both;
}
.sidebar .PopularPosts img {
padding: 0;
    width: 100%;
}
.sidebar .PopularPosts .item-title a {
	
display: block;
margin: 0 auto;
padding: 10px 0;
font-size:20px;
	line-height: 1.190em;
	font-weight: 700;
	color:#333;

}


.popularposttitle { 
	
	font-family: "Kanit", sans-serif;
	font-size: 25px;
	padding: 5px 15px;
    line-height: 1.190em;
	text-transform: uppercase;
    font-weight: 700;
	color: #333;
   
}

.homepagefeaturedvideotitle  { 
	
	font-family: "Kanit", sans-serif;
	font-size: 15px;
	color: #E9E9E9;
	text-transform: uppercase;
	background-color: #333;
	padding: 5px 15px;
    line-height: 1.190em;
    font-weight: 700;
    
}

.b4homepagefeaturedvideoloads {  
	
	background-color: #EEEEEE;
	
}


.b4contentheaderlong {
	display: inline-block; 
       background-color: #EEEEEE;
       width: 600px;
       height: 50px;
       border-radius: 10px;
       margin-bottom: 10px;
	margin-top: 88px;
}

.b4contentheadershort { 
	
	background-color: #EEEEEE;
	width: 300px;
	height: 50px; 
	border-radius: 10px;
	margin-bottom: 20px;
}

.b4contentmainsectionimg {
	
        display: inline-block;
	background-color: #EEEEEE;
	width: 730px;
	height: 500px;
	margin-bottom: 10px;
}


.b4contentsidebarimg {
	
	background-color: #EEEEEE;
	width: 280px;
	height: 240px;
	position:absolute; right:0px; top:90px;
}
 

.b4contentsidebarimgtitle {
	
	float: right;
	background-color: #EEEEEE;
	width: 230px;
	height: 30px;
	border-radius: 10px; 
	position:absolute; right:50px; top:340px;
}

.b4contentsidebarimg2 {
	
	background-color: #EEEEEE;
	width: 280px;
	height: 240px;
	position:absolute; right:0px; top:430px;
}
 

.b4contentsidebarimgtitle2 {
	
	float: right;
	background-color: #EEEEEE;
	width: 230px;
	height: 30px;
	border-radius: 10px; 
	position:absolute; right:50px; top:680px;
}




/* Comments
----------------------------------------------- */


# h4 {
  margin: 1em 0;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ff4e50;
}

#comments-block {
  background: #FFF;
  margin: 1em 0 1.5em;
  line-height: 1.6em;
}
#comments-block .comment-author {
  margin: .5em 0;
}
#comments-block .comment-body {
  margin: .25em 0 0;
}
#comments-block .comment-footer {
  margin: -.25em 0 2em;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#comments-block .comment-body p {
  margin: 0 0 .75em;
}
.deleted-comment {
  font-style: italic;
  color: gray;
}

#blog-pager-newer-link {
  float: left;
display: none !important;
}

#blog-pager-older-link {
  float: right;
display: none !important;
}

#blog-pager {
  text-align: center;
display: none !important;
}

/* Page Navigation
-------------------------------------------- */
 #blog-pager{clear:both;margin:30px auto;text-align:center; }

.blog-pager,
#blog-pager {
font-weight:400;
font-size:90%;
width:100%;
padding:17px;
} 
.showpageNum a,
.showpage a {
background:#444; 
color:#FFF; 
margin-right:.4em;
padding:5px 10px;
} 
.showpageNum a:hover,
.showpage a:hover {
background:#ff4e50;
 color:#FFF;
}
.showpageOf{
margin:0 8px 0 0;
text-decoration:none;
font-size:85%;
display:none!important;
}
.showpagePoint {
background:#ff4e50; 
color:#FFF; 
margin-right:.6em;
text-decoration:none;
font-size:14px;
line-height:0;
text-align:center;
padding:5px 10px;
}


.post-navigation{clear:both;margin:0 auto;overflow:hidden;border:1px solid #dedede;}
.post-navigation div{display:block;width:43%;position:relative;font-size:14px;color:#999;padding-top:10px;padding-bottom:20px;}
.post-previous{float:right;text-align:right;padding-right:7%;line-height:1.2em}
.post-next{float:left;padding-left:7%;line-height:1.2em}
.post-navigation div span{display:block;font-size:80%;color:#999}
.post-navigation .prv,.post-navigation .nxt{position:absolute;color:#ccc;font-size:35px;margin-top:-11px;height:30px;line-height:22px;top:35%;width:30px}
.post-navigation h5 {font-size:130%;margin: 10px auto 0;padding:0;color:#444;}
.post-navigation h6 {font-size:100%;margin: 10px auto 0;line-height:1.1em;}
.post-previous .prv{right:10px}
.post-next .nxt{left:10px}

.feed-links {
  clear: both;
  line-height: 2.5em;
  display: none !important;
}


/* CSS Author Bio Box by GMB Design */
.authorboxwrap{margin:10px auto 20px;padding:20px;overflow:hidden;border:1px solid #ccc;}
.avatar-container {float:left;margin-right:20px;border: 1px solid silver;padding: 3px;}
.avatar-container img{width:110px;height:auto;}
.author_description_container h4{font-weight:700;font-size:16px;display:block;margin:0;margin-bottom:2px}
.author_description_container h4 a{color:#171717}
.author_description_container h4 a:hover{color:#404040}
.author_description_container p{margin:0;color:#888;font-size:95%;margin-bottom:8px;}
.authorsocial a{display:inline-block;text-align:center;margin-right:10px}
.authorsocial a i{font-family:Fontawesome;width:20px;height:20px;line-height:20px;padding:5px;display:block;opacity:1;border-radius:50%;transition:all .3s;}
.authorsocial a:nth-child(1) i {background:#2d609b;color:#fff;}
.authorsocial a:nth-child(2) i {background:#19bfe5;color:#fff;}
.authorsocial a:nth-child(3) i {background:#eb4026;color:#fff;}
.authorsocial a:hover:nth-child(1) i,.authorsocial a:hover:nth-child(2) i,.authorsocial a:hover:nth-child(3) i {opacity:0.90;}


/* Sidebar Content
----------------------------------------------- */
.sidebar {
  color: #666;
  font-size: 13px;
  line-height: 1.5em;
}

.sidebar h2 {
font-size: 1.0rem;
border-bottom: 3px solid #e6e6e6;
margin: 0 auto 20px;
padding-bottom: 5px; 
  text-align: center;
  text-transform: uppercase;
  color: #171717;
}

.sidebar ul {
  list-style: none;
  margin: 0 0 0;
  padding: 0 0 0;
}
.sidebar li {
  margin: 0 15px;
  padding: 0 0 .25em 0;
  line-height: 1.5em;
	text-indent: 0;
}

.sidebar .widget {
  background: #FFF;
  margin-bottom: 30px;
	padding: 0 10px;

}

.sidebar .widget-content {
  margin: 0 auto;
  padding: 0;
  
}



.main .Blog {
  border-bottom-width: 0;
}

/* Label Cloud Styling
----------------------------------------------- */
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {
font-size:100%;
filter:alpha(100);
opacity:10
}
.cloud-label-widget-content{
text-align:left
}
.label-size {
ckground:;
display:block;
float:left;
margin:0 3px 10px 0;
color:#ffffff;
font-size:12px;
text-transform:uppercase;
}
.label-size a,.label-size span{
border: 1px solid #ddd;
display:inline-block;
color:#848484;
padding:5px 13px;
font-weight:400;
}
.label-size a:hover {
background-color: #ff4e50;
color: #fff;
}
.label-count {
white-space:nowrap;
padding-right:3px;
margin-left:-3px;
background:#f8f8f8;
color:#848484 !important;
border-left: 0 none;
}
.label-size {
line-height:1.2;
}

/* Popular Posts Styling
----------------------------------------------- */


/* Profile
----------------------------------------------- */
.profile-img {
  float: left;
  margin: 0 5px 5px 0;
  padding: 4px;
  border: 1px solid #ccc;
}

.profile-data {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px;
  color: #ff4e50;
  font-weight: 700;
  line-height: 1.6em;
}

.profile-datablock {
  font-size: 11px;
  margin: .5em 0 .5em;
  text-align: justify;
}

.profile-textblock {
  margin: 0.5em 0;
  line-height: 1.6em;
  text-align:initial;
}

.profile-link {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
}


/* Footer
----------------------------------------------- */

#footer-wrapper {
background-color: #252525;
color: #ddd;
padding: 30px 2% 48px;
position: relative;
clear:both;
}

#footer-column-container {
color: #ccc;
max-width:1076px;
padding: 0;
margin:0 auto;
}

.footer-column {
margin:0 auto; 
padding:5px;
line-height: 1.625em;
}

#footer-column-left {
margin-right: 2%;
float:left;
width: 31%;
}
#footer-column-center {
margin: 0 auto;
float:left;
width: 33%;
}
#footer-column-right {
margin-left: 2%;
float:right;
width: 31%;
}
.footer-column h2 {
font-size: 1em;
text-transform: uppercase;
margin:0 auto 20px;
padding-bottom: 10px;
color: #fff;
text-align: center;
border-bottom: 3px solid #444;
}

.footer-column a {
color: #fff;
font-size: 13px;
}

.footer-column a:hover {
color: #ff4e50;
}

.footer-column ul {
list-style:none;
margin:0 0 0;
padding:0 0 0;
}
.footer-column li {
margin:0 auto;
padding:0 5px .35em 0;
border-bottom:1px solid #444;
}

.footer-column .widget-content {
margin:0 auto;
padding: 0;
}


#credits {
background-color: #303030;
color: #ccc;
font-size: 12px;
padding: 10px 2%;
}

.footleft {
float: left;
width: 49%;
line-height: 18px;
margin-bottom: 8px;
margin-top: 8px;
}

.footright {
float: right;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 8px;
text-align: right;
width: 49%;
}

/* Breadcrumbs
--------------------------------------------------*/

.breadcrumbs {
	
  width:100%;
  font-size: 13px;
	font-weight: 100;

  color: #222;
padding: 0;

}

.breadcrumbs a {
	display: inline-block;
	background-color: #ff6869;
	color: #fff;
	padding: 3px 6px 3px;
	
}

.breadcrumbs a:hover {
    color: #333;
}

.timestamp {
	
  width:100%;
  font-size: 13px;
	font-weight: 100;
text-transform: uppercase;
  color: #222;
padding: 10px;

}

.baseTitle{border-bottom:3px solid #e6e6e6;text-align:center;color: #444;font-size: 1.1em; padding:0.5rem;margin-bottom:30px;text-transform:uppercase;}


.sharebox-wrap {
  float: left;
  margin: 1em 0;
  padding: 0 10%;
  position: relative;
  width: 80%;
}

.share_box {
  float: left;
  margin: 0;
  padding: 6px 0 0;
  width: 100%;
}

.sharebox-wrap {margin: 1em 0; padding: 0% 10%; position: relative; float: left; width: 80%;}
.share_box {margin: 0px; padding: 6px 0px 0px; float: left; width: 100%;}
.page-single .share_box {}
.share_box .share_btn {margin: 0px 0px 0px; width: auto; padding: 0px; float: left;}
.share_box .twitter_share {width: 85px !important; overflow: hidden;}
.share_box .fb_share {margin-right: 10px !important;}
.share_box .gplus_share {width: 70px !important; overflow:hidden !important;}


/* 2.4.1 Slider */

#featured-slider {
    margin-bottom: 30px;
    background: #f2f2f2;
    position:relative;
	overflow: hidden;

	
}



*
*

/* Layout Responsive
----------------------------------------------- */


@media screen and (max-width: 640px) {
.credits, .footleft, .footright {width: 100%;text-align:center;}
    #footer-wrapper {width:100%;float;none;}
	#footer-column-left, #footer-column-center, #footer-column-right {float:center; width:100%; margin:0 auto;, padding:10px;}
    .showpageArea a {text-decoration:none;font-size: 0.75em;}




#adsense {
  float: none;
  width: auto;
  margin: 0 auto;
  padding: 15px;

}

.nivo-caption {
position: absolute;
color:#666;
z-index:8;
font-size: 30%;


}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}

}

#top-barnbt {

	font-size: 10px;
}

@media screen and (max-width: 480px) {

#main-wrapper,
.index-post,
.index-contents {
    float: none;
    width: 100%;
	text-overflow:clip;
	white-space:normal;
}


#header {margin: 0 auto 20px;}

#sidebar-wrapper,
.sidebar {float:none;width:100%;}


}


#top-barnbt {
	font-size: 10px;

}


/* Recent posts by labels
——————————— */


a{text-decoration:none}
   #recent1 .title {position:relative;overflow:hidden;font-size:18px;font-weight:400;padding:12px 12px;transition:all 0.5s ease-out;border-left: 5px solid;background: #fff;margin-left: 0;margin-top:0}
#recent1 .title p {display: initial; font-size: 12px; margin: 0;}
#recent1 .title a{color: #444;border-right: 1px solid #27ae60; padding-right: 10px;}
#recent1 { width: 100%;overflow: hidden;}
#recent1 .label_title {font-size: 15px; font-weight: 600; margin: 0 12px 8px 0; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; color: #444; font-family: roboto;height:43px;}
.ftimg {height: auto; width: 90px; display: block; overflow: hidden; position: absolute; margin:0 0 0 253px;}
#recent1 .recent-box .imageContainer {width:100%;overflow: hidden;margin-right: 20px;margin-bottom: 10px;overflow:hidden;}
#recent1 .recent-box .imageContainer { margin-left: 0; }
.imageContainer {float: none;width: 100%;margin-bottom: 5px;}
#recent1 .widget-content {padding:0}
.label_thumb {margin-left:0;transform: scale(1.0); transition: 0.9s;}
.label_title {display: block;font-size: 15px;line-height: 23px;color: #595757}
.label_title:hover {color:}
.post-date {font-size: 11px; color: #555; margin-right: 8px; font-weight: 500;}
.post-date:before {content: "\f044";font-family: FontAwesome;display: inline-block;margin-right: 3px;}
.recent-com {font-size: 11px; color: #555; margin-right: 8px; font-weight: 500;}
.recent-com:before {content:"\f0e5";font-family: FontAwesome;display: inline-block;margin-right: 3px;}
.post-summary {padding-top:0;text-align:justify}
img.label_thumb {object-fit: cover; -webkit-backface-visibility: hidden; backface-visibility: hidden;height: 150px!important;overflow: hidden; width: 100%;}
img.recent_thumb {width:280px;height:200px;float:left;margin-bottom:5px; margin-right: 10px;}
ul.recent_posts_with_thumbs {padding:0}
.recent_posts_with_thumbs {float: left;width: 100%;min-height: 100%;margin: 5px 0px 5px 0px;padding: 0;font-size:12px;}
ul.recent_posts_with_thumbs li {padding-bottom:5px;padding-top:5px;min-height:80px;border-bottom: 1px solid rgba(192, 192, 192, 0.38); margin-bottom: 10px;}
ul.recent_posts_with_thumbs li:last-child {border-bottom:none;}
ul.recent_posts_with_thumbs li p {margin: 0.3em 0; font-size: 11px;}
.recent_posts_with_thumbs a {text-decoration:none;font-size: 13px; font-weight:700; color: #333;}
.recent_posts_with_thumbs strong {font-size:10px;}
#label_with_thumbs li{background:#fff;padding: 0px; margin: 0;width:18.5%; float: left; overflow: hidden; margin-right:14px;display: block;border:0;margin-bottom:10px;}
#label_with_thumbs {margin:0;padding: 0;position: relative;}
.label_thumb{position:relative;max-width:none;margin-left:0;}
.label_title{display:block;font-size:15px;line-height:23px;color:#2D2D2D}
.label_title:hover{color:#32aae1}
.toe{overflow:hidden;display:block;margin-bottom:5px;}
.post-summary{line-height:18px;margin: 0; font-size: 13px; color: #333;overflow: hidden; display: initial;}
.ro{margin-bottom:15px;overflow:hidden}
#label_with_thumbs li:last-child{margin-right:0}
 


.crosscol-msg-body {
    font-size: 130%;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #ff4e50;
    padding: 5px 0px;
    margin-bottom: 7px;
    width: 97.8%;
    color: #666;
  
}

 



#ContactForm1{display: none !important;}

